<h1>Welcome, <%= @user.uid %>!</h1>

<%= render "shared/user_info" %>

<h3>Subreddit Subscriptions</h3>
<ul>
  <% @user.subreddit_subscriptions.each do |subreddit| %>
    <li><%= link_to "/r/#{subreddit}", subreddit_path(subreddit) %></li>
  <% end %>
</ul>
