<h3>Karma</h3>
<table>
  <tr>
    <th>Link:</th>
    <td><%= @user.link_karma %></td>
  </tr>
  <tr>
    <th>Comment:</th>
    <td><%= @user.comment_karma %></td>
  </tr>
</table>

<h3>Trophies</h3>
<ul>
  <% @user.trophies.each do |(name, icon)| %>
    <li>
      <%= image_tag icon, alt: name %>
      <%= name %>
    </li>
  <% end %>
</ul>