<h3>Karma</h3>
<table>
  <tr>
    <th>Link:</th>
    <td><%= @user.karma[:link] %></td>
  </tr>
  <tr>
    <th>Comment:</th>
    <td><%= @user.karma[:comment] %></td>
  </tr>
</table>

<h3>Trophies</h3>
<ul>
  <% @user.trophies.each do |trophy| %>
    <li>
      <%= image_tag trophy["data"]["icon_40"], alt: trophy["data"]["name"] %>
      <%= trophy["data"]["name"] %>
    </li>
  <% end %>
</ul>